<%= stylesheet_link_tag "public_recipes" %>
<h1>Public Recipes</h1>

<% @public_recipes.each do |recipe| %>
  <div class="recipe-item">
    <%= link_to "#{recipe.name} by #{recipe.user.name}", public_recipe_path(recipe) %><br>
    <% total_quantity = 0 %>
    <% total_value = 0 %>
    <% recipe.ingredients.each do |ingredient| %>
      <% total_quantity += ingredient.quantity.to_i %>
      <% total_value += ingredient.value.to_i %> <!-- Ensure ingredient value is converted to integer -->
    <% end %>
    <p>Total Ingredients Count: <%= recipe.ingredients.count %></p>
    <p>Total Value: <%= total_quantity %></p>
  </div>
<% end %>
