h1 {
  color: #333;
  text-align: center;
  margin-top: 30px;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin: 20px;
  margin-bottom: 10px;
}

table,
th,
td {
  border: 1px solid #ddd;
  padding: 15px;
}

table th {
  background-color: #007bff;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
