h1 {
    font-size: 2em;
    text-align: center;
    color: #212222;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .recipe-item {
    background-color: #ebebeb;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  }
  
  .recipe-item a {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;
  }
  
  .recipe-item a:hover {
    color: #0056b3;
  }
  
  .recipe-item p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
