.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.container h1:hover {
  opacity: 0.5;
}

.container h2 {
  margin: 10px 0;
  font-size: 18px;
}

.container h2:hover {
  opacity: 0.5;
}

.container .details p {
  margin-bottom: 10px;
}

.container .button-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container .ingredients-table {
  width: 100%;
  border-collapse: collapse;
}

.container .ingredients-table th,
.container .ingredients-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.container .ingredients-table th {
  background-color: #f2f2f2;
  color: black;
}

/* Style the buttons */
.container .btn {
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.container .btn-primary {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  color: #fff;
}

.container .btn-primary:hover {
  background-color: #0056b3;
}

.container .btn-danger {
  background-color: #dc3545;
  color: #fff;
  margin-bottom: 5px;
  border-style: none;
}

.container .btn-danger:hover {
  background-color: #c82333;
}
